/* MOBILE ONLY */
@media (max-width:  730px) {

    .main-nav {
        display: block;
    }
    .main-header .main-nav {
        display: none;
    }
    .editor-layout {
        margin-top: 1em;
        display: flex;
        margin-bottom: 30px;
        flex-direction:column ;
    }
     
    .editor-layout .canvas-container{
        
        grid-row: 1;
        grid-column: 1;
    }
    
    .editor-layout .editor-layout-panel{
        grid-row: 1;
        grid-column: 2;
    
        
    }

    .mobile-list {
        color: var(--clrPrimary7);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0.75em;
        background-color: var(--clrPrimary3);

    }

    .mobile-list i {
    font-size: 2em;
    }

    .navbar{
        width: 100%;
        background-color: var(--clrPrimary2);
       
    }
    footer {
        display: block;
        background-color: var(--clrPrimary2);
        position: fixed;
        
        bottom: 0;
        width:100%;
    }
    footer ul {
        justify-content: space-around;
    }

    .row-1 .btn {
        padding: 0;
        height: 1em;
    }
    .row-2 .btn {
        padding: 0;
    }
}



/* SMALL */
@media (max-width: 640px) {

    .main-nav {
        display: block;
    }
    .main-header .main-nav {
        display: none;
    }

    .main-container section {
        max-width: var(--s);
        margin: 0;
       }
    .editor-layout {
        max-width: 200px;
    }

    .mobile-list {
        display: block;
        color: var(--clrPrimary7);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0.75em;
        background-color: var(--clrPrimary3);

    }

    .mobile-list i {
    font-size: 2em;
    }

    .navbar{
        width: 100%;
    }

    .mobile ul {
        justify-content: space-around;
    }

}


/* MEDIUM */
@media (min-width: 920px) {

    .main-container section {
        max-width: var(--m);
        margin: auto;
       } 
    .navbar .desktop-list {
        display: none;
    }

    .mobile-list {
        color: var(--clrPrimary7);
        position: fixed;
        bottom: o;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0.75em;
        background-color: var(--clrPrimary3);

    }

    .mobile-list i {
    font-size: 2em;
    }

    .navbar{
        width: 100%;
        background-color: var(--clrPrimary2);
       
    }
    footer {
        display: block;
        background-color: var(--clrPrimary2);
        position: fixed;
        
        bottom: 0;
        width:100%;
    }
    footer ul {
        justify-content: space-around;
    }
}


/* LARGE  */
@media (min-width: 1100px) {

    .main-container section {
        max-width: var(--l);
        margin: auto;
       }

    .navbar .desktop-list {
        display: block;
        
    }
    .navbar {
        background-color: var(--clrPrimary2);
        bottom: 0;
    }
    .main-nav {
        width: 100%;
        

    }
    footer {
        display: none;
    }
    
    .editor-layout {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .mobile-list {
        display: block;
        color: var(--clrPrimary7);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0.75em;
        background-color: var(--clrPrimary3);

    }

    .mobile-list i {
    font-size: 2em;
    }

    .navbar{
        width: 100%;
    }

    .mobile ul {
        justify-content: space-around;
    }
}

